<%- include("../templates/encabezado") %>
<%- include("../templates/menuUsu") %>
<div class="container mt-5" >
    <div class="card">
        <div class="card-header">
            <h1>Usuarios</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Password</th>
                        <th>Foto</th>
                        <th>Editar/Borrar</th>  
                    </tr>
                </thead>
                <tbody>
                    <%usuarios.map(item=>{%>
                        <tr>
                            <td><%=item.id%></td>
                            <td><%=item.nombre%></td>
                            <td><%=item.usuario%></td>
                            <td>********</td>
                            <td><img src="/images/<%=item.foto%> " alt="" width='100px'></td>
                            <td>
                                <a href="/editarUsuario1/<%=item.id%>">Editar</a>
                                <a href="/borrarUsuario1/<%=item.id%>">Borrar</a>
                            </td>
                        </tr>
                        <%}); %>
                </tbody>
            </table>
        <div class="card-footer"></div>
    </div>
</div>
<%- include("../templates/pie") %>

