<%- include ("../templates/encabezado") %>
<%- include ("../templates/menuNolog") %>

<div class="container">
    <div class="card">
    <table class="table">
        <thead>
            <div class="card-header">
    <h2><center>Noticias</center></h2>
</div>
</thead>
<tbody>
    <div class="card-header">
    <% noticias.forEach((noticia) => { %>
        <tr>
       <center><h3><%= noticia.titulo %></h3> 
       <p><img src="/imagesNoticia/<%=noticia.foto%> " alt="" width='100px'></p></center>    
    <a href="#<%=noticia.id%>" class="btn btn-primary" data-bs-toggle="collapse">Abrir Noticia</a>
    <div id="<%=noticia.id%>" class="collapse">
       <p> <%= noticia.historia %></p>
        <p><img src="/imagesNoticia/<%=noticia.foto%> " alt="" width='500px'></p>
    </div>
    <br>
</tr>
    <% }); %> 
</div>
</tbody>
</table>
<div class="card-footer"></div>
</div>
  </div>
      

<%- include ("../templates/pie") %>